### pandas数据读取（先读取表格类型的数据）

导入包

In [2]:
import pandas as pd

读取文件

1. 读取纯文本文件（如csv,txt文件等）

In [10]:
csv_file_path='2.csv'
csv_file = pd.read_csv(csv_file_path)
csv_file.head()   #查看前几行
csv_file.columns  #查看每一列
csv_file.index   #查看索引列
csv_file.dtypes  #查看每一列的数据类型
csv_file.shape   #查看形状，这里用来查看行数，列数

(146, 33)

In [ ]:
tx_file_path = 'test.txt'
tx_file = pd.read_csv(
    tx_file_path,
    sep='\t',
    header=None,
    names=['date','name','age']
    )
# txt文件需要设置分隔符为\t，且其中没有标题行，但我们可以设置标题行，例如date,name,age这样以后可以方便使用

2. 读取excel文件

In [ ]:
exc_file_path = '附件1.xls'
exc_file = pd.read_excel(exc_file_path)
exc_file

3. 读取mysql数据库

In [ ]:
import pymysql

#建立连接
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='12345678',
    database='test',
    charset='utf8'
)
mysql_page = pd.read_sql('select * from table',con=conn)
mysql_page

数据结构分析（DataFrame , Series）

1. DataFrame:二维或多维数据，代表整个表格，多行多列
2. Series:一维数据，代表一行或一列

In [1]:
import pandas as pd
import numpy as np

In [4]:
s1 = pd.Series(['a',2.2,1,7])
s1
s1.index
s1.values

array(['a', 2.2, 1, 7], dtype=object)

       创建Series时还可以指定它的索引值

In [8]:
s2 = pd.Series(['a',2,3.1],index=['d','b','f'])
s2

d      a
b      2
f    3.1
dtype: object

        可以使用python字典来创建Series

In [6]:
s3 = pd.Series({'name':'itachi','age':13,'suki':'tamako'})
s3

name    itachi
age         13
suki    tamako
dtype: object

        可以使用字典方法来查询数据

In [15]:
s2['d']
type(s2['b'])
s2[['d','b']]
type(s2[['d','b']])

pandas.core.series.Series

        创建DataFrames时最常见的方法是直接通过读取纯文本文件、Excel、mysql数据库等
        除此之外，可以根据多个字典序列创建dataframe

In [ ]:
# All arrays must be of the same length
data = {
    'state':['ohio','ohio','hina','nevada','itachi'],
    'year':[2000,2001,2002,2001,2003],
    'pop':[1.1,1.5,2.7,3.6,2.4]
}
df = pd.DataFrame(data)
df
df.dtypes   #每一列的类型是什么
df.columns
df.index